<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mainMenu</key>
	<dict>
		<key>items</key>
		<array>
			<string>F51B378A-E12B-4E7C-8996-4122CEB6FF95</string>
		</array>
		<key>submenus</key>
		<dict/>
	</dict>
	<key>name</key>
	<string>jslint</string>
	<key>uuid</key>
	<string>EDCF523C-5426-48B0-AC5D-715F8E94442F</string>
</dict>
</plist>
